<ion-header>
  <ion-toolbar color="secondary">
    <ion-title id="logo" class="ion-text-center">
      Calculator--
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wholepage"  style="--background:A175AB">
  <ion-item class="result" style="--background: #BE92C9;">
    <ion-label class="value">
      {{value}}
    </ion-label>
  </ion-item>
  <div class="center">
    <ion-grid width="large" fixed="true">
      <ion-row size="10" class="ion-justify-content-between"> 
        <ion-button color="secondary" class="calc-button" size="large" fill="solid" (click)="resetAll()">AC</ion-button>
        <ion-button color="secondary" class="calc-button" size="large"fill="solid" (click)="changeSign()">+/-</ion-button>
        <ion-button color="secondary" class="calc-button" size="large"fill="solid">%</ion-button>
        <ion-button color="secondary" class="calc-button" size="large" fill="solid"(click)="inputOperator('/')">/</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button color="light" class="calc-button" size="large" (click)="inputNumber('7')"  >7</ion-button>
        <ion-button color="light" class="calc-button" size="large" (click)="inputNumber('8')"  >8</ion-button>
        <ion-button color="light" class="calc-button" size="large" (click)="inputNumber('9')" >9</ion-button>
        <ion-button color="secondary" class="calc-button" size="large" (click)="inputOperator('*')" fill="solid">*</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button color="light" class="calc-button" size="large" (click)="inputNumber('4')" >4</ion-button>
        <ion-button color="light" class="calc-button" size="large" (click)="inputNumber('5')" >5</ion-button>
        <ion-button color="light" class="calc-button" size="large" (click)="inputNumber('6')" >6</ion-button>
        <ion-button color="secondary" class="calc-button" size="large" (click)="inputOperator('-')" fill="solid">-</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button color="light" class="calc-button"  size="large" (click)="inputNumber('1')"  >1</ion-button>
        <ion-button color="light" class="calc-button"  size="large" (click)="inputNumber('2')" >2</ion-button>
        <ion-button color="light" class="calc-button"  size="large" (click)="inputNumber('3')" >3</ion-button>
        <ion-button color="secondary" class="calc-button"  size="large" (click)="inputOperator('+')" fill="solid">+</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button color="light" class="calc-button-bottom" size="large" (click)="inputNumber('0')"  >0</ion-button>
        <ion-button color="secondary" class="calc-button-bottom" size="large" (click)="inputDecimal('.')"  >.</ion-button>
        <ion-button color="secondary" class="calc-button-bottom" size="large" (click)="calculateResult()" >=</ion-button>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item class="factclass" style="--background: #BE92C9;">
    <ion-label id="fact">
      
    </ion-label>
  </ion-item>
</ion-content>
