<ion-header>
  <ion-toolbar color="primary">
    <ion-title id="logo" class="ion-text-center">
      Calculator--
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="result">
    <ion-label class="value">
      {{value}}
    </ion-label>
  </ion-item>
  <div class="center">
    <ion-grid width="large" fixed="true">
      <ion-row size="10" class="ion-justify-content-between"> 
        <ion-button class="calc-button" size="large" fill="solid" (click)="resetAll()"  style="--background:#05386B">AC</ion-button>
        <ion-button class="calc-button" size="large"fill="solid" (click)="changeSign()"style="--background:#05386B">+/-</ion-button>
        <ion-button class="calc-button" size="large"fill="solid"style="--background:#05386B">%</ion-button>
        <ion-button class="calc-button" size="large" fill="solid"(click)="inputOperator('/')"style="--background:#05386B">/</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button class="calc-button" size="large" (click)="inputNumber('7')" fill="outline"style="--background:#EDF5E1">7</ion-button>
        <ion-button class="calc-button" size="large" (click)="inputNumber('8')" fill="outline"style="--background:#EDF5E1">8</ion-button>
        <ion-button class="calc-button" size="large" (click)="inputNumber('9')"fill="outline"style="--background:#EDF5E1">9</ion-button>
        <ion-button class="calc-button" size="large" (click)="inputOperator('*')" fill="solid"style="--background:#05386B">*</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button class="calc-button" size="large" (click)="inputNumber('4')"fill="outline"style="--background:#EDF5E1">4</ion-button>
        <ion-button class="calc-button" size="large" (click)="inputNumber('5')"fill="outline"style="--background:#EDF5E1">5</ion-button>
        <ion-button class="calc-button" size="large" (click)="inputNumber('6')"fill="outline"style="--background:#EDF5E1">6</ion-button>
        <ion-button class="calc-button" size="large" (click)="inputOperator('-')" fill="solid"style="--background:#05386B">-</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button class="calc-button"  size="large" (click)="inputNumber('1')" fill="outline"style="--background:#EDF5E1">1</ion-button>
        <ion-button class="calc-button"  size="large" (click)="inputNumber('2')"fill="outline"style="--background:#EDF5E1">2</ion-button>
        <ion-button class="calc-button"  size="large" (click)="inputNumber('3')" fill="outline"style="--background:#EDF5E1">3</ion-button>
        <ion-button class="calc-button"  size="large" (click)="inputOperator('+')" fill="solid"style="--background:#05386B">+</ion-button>
      </ion-row>
      <ion-row size="10" class="ion-justify-content-between">
        <ion-button class="calc-button-bottom" size="large" (click)="inputNumber('0')" fill="outline"style="--background:#EDF5E1">0</ion-button>
        <ion-button class="calc-button-bottom" size="large" (click)="inputDecimal('.')" fill="outline"style="--background:#EDF5E1">.</ion-button>
        <ion-button class="calc-button-bottom" size="large" (click)="calculateResult()" fill="solid"style="--background:#05386B">=</ion-button>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item class="factclass">
    <ion-label id="fact">
      
    </ion-label>
  </ion-item>
</ion-content>
